@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #15141b;
  --card: #29272e;
  --card-foreground: 249, 249, 249;
  --card-border: #383540;
  --card-border-hover: #64baff;
  --green: #68b723;
  --blue: #3689e6;
  --purple: #a56de2;
  --purple-blue: #64baff;
  --gray-white: #fafafa;
  --tag-background: #383540;
  --muted: #9e9e9e;
}
html {
  @apply bg-background;
}
